<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .bg-grey {
        background-color: #eae8e8;
    }

    @media (min-width: 992px) {
        .card-registration-2 .bg-grey {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }

    @media (max-width: 991px) {
        .card-registration-2 .bg-grey {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }
</style>
<section class="h-100 h-custom" style="background-color: #f4f4f4;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Giỏ hàng của bạn</h1>
                                        <h6 class="mb-0 text-muted">{{$root.soLuongSanPham}} sản phẩm</h6>
                                    </div>
                                    <div class="item_container"
                                        style="height: 400px; overflow-y: auto; overflow-x: hidden;">
                                        <hr class="my-4">
                                        <div class="item" ng-repeat="item in $root.cart">
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="/assets/image/{{item.image}}" class="img-fluid rounded-3"
                                                        alt="Cotton T-shirt">
                                                </div>
                                                <div class="col-md-2 col-lg-2 col-xl-3">
                                                    <h6 class="text-black mb-0">{{item.productName}}</h6>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-3 d-flex">
                                                    <button class="btn btn-link px-2"
                                                        ng-click="decrementQuantity(item)">
                                                        <i class="fas fa-minus"></i>
                                                    </button>

                                                    <input id="form1" min="0"  name="quantity{{item.idProduct}}" ng-model="item.quantity" ng-change="onQuantityChange(item.idProduct, item.quantity)"
                                                        type="number" class="form-control soLuong_item" />

                                                    <button class="btn btn-link px-2"
                                                        ng-click="incrementQuantity(item)">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">{{item.price | number: 0}}đ</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <div style="cursor: pointer;" ng-click="xoa(item.idProduct)" class="text-muted"><i class="fas fa-times"></i></div>
                                                </div>
                                            </div>

                                            <hr class="my-4">
                                        </div>

                                    </div>


                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Tóm tắt</h3>
                                    <hr class="my-4">


                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Tổng tiền: </h5>
                                        <h5>{{$root.tongTien | number: 0}}đ</h5>
                                    </div>

                                    <button ng-click="payment()" type="button" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark">Thanh toán</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- End your project here-->