<div class="forgotpass">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-6">
                <div class="card form-card px-4">
                    <div class="text-center form-card__header py-4">
                        <h1 class="fw-bold">Đổi mật khẩu</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-forgotpass__label fw-bold fs-6 mb-1" for="OtpCode">Mã xác nhận
                                (OTP)</label>
                            <input type="text" class="form-control" id="OtpCode" ng-model="otp" name="otpCode"
                                placeholder="Nhập mã xác nhận" required>
                        </div>
                        <div class="mb-4">
                            <label class="form-forgotpass__label fw-bold fs-6 mb-1" for="NewPassword">Mật khẩu
                                mới</label>
                            <input type="password" class="form-control" id="NewPassword" ng-model="newPassword" name="newPassword"
                                placeholder="Nhập mật khẩu mới" required>
                        </div>
                        <div class="mb-4">
                            <label class="form-forgotpass__label fw-bold fs-6 mb-1" for="ConfirmPassword">Xác nhận
                                mật khẩu</label>
                            <input type="password" class="form-control" id="ConfirmPassword" ng-model="confirmPassword" name="confirmPassword"
                                placeholder="Xác nhận mật khẩu mới" required>
                        </div>
                        <button type="button"
                            class="btn w-100 btn-primary mt-5 fw-bold fs-5 form-forgotpass__btnSubmit" ng-click="submit()">Đổi mật
                            khẩu</button>
                        <div class="mt-3 text-center">
                            <a href="#" class="link-muted">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
