<header class="container-fluid header">
    <div>
        <!-- Hàng 1  -->
        <div class="row d-flex align-items-center">
            <!-- Logo -->
            <div class="col-3">
                <img src="assets/image/toys-logo.svg" alt="" class="header__logo">
            </div>
            <!-- Search -->
            <div class="col-5 header__searchBox d-flex align-items-center">
                    <i class="fas fa-search col-1 search_Icon" ng-click="search()"></i>
                <input id="searchQuery" class="col search_Input" type="text" placeholder="Nhập từ khóa để tìm kiếm">
            </div>
            <div class="col"></div>
            <div class="col-2 d-flex justify-content-between">
                <div class="header__cart">
                    <i class="fas fa-shopping-cart me-1"></i>
                    <span>Giỏ hàng</span>
                </div>
                <div class="header__user">
                    <i class="fas fa-user me-1"></i>
                    <span>Đăng nhập</span>
                </div>
            </div>
        </div>
        <!-- Hàng 2 - Menu -->
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="px-3 fw-bold text-light fs-5">Hàng mới</li>
                <li class="px-3 fw-bold text-light fs-5">Flash Sale</li>
                <li class="px-3 fw-bold text-light fs-5">Khuyến mãi</li>
                <li class="px-3 fw-bold text-light fs-5">Trending</li>
                <li class="px-3 fw-bold text-light fs-5">Yêu thích</li>
                <li class="px-3 fw-bold text-light fs-5">Đã xem</li>
            </ul>
        </div>
    </div>
</header>
