<body>
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card form-card">
                    <div class="text-center form-card__header">
                        <h1>Đăng nhập</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/account/login" accept-charset="UTF-8" novalidate>
                            <div class="mb-3">
                                <label for="CustomerEmail">Email</label>
                                <input type="email" class="form-control" id="CustomerEmail" name="customer[email]" placeholder="Email" required aria-label="Email">
                            </div>
                            <div class="mb-3">
                                <label for="CustomerPassword">Mật khẩu</label>
                                <input type="password" class="form-control" id="CustomerPassword" name="customer[password]" placeholder="Mật khẩu" required aria-label="Mật khẩu">
                            </div>
                            <button type="submit" class="btn w-100 btn-primary mt-3">Đăng nhập</button>
                        </form>
                        <div class="mt-3 text-center">
                            <a href="#recover" class="link-muted mb-2 d-block">Quên mật khẩu?</a>
                            <span>Chưa có tài khoản?</span> <a href="/account/register" class="link-muted">Đăng ký tài khoản</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>