<body>
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      <div id="shopify-section-template--18711305060631__main" class="shopify-section"><link href="//www.mykingdom.com.vn/cdn/shop/t/2/assets/customer.css?v=50947126908166509501706608163" rel="stylesheet" type="text/css" media="all">
<div class="customer login section-template--18711305060631__main-padding" tabindex="-1">
  <h1 id="recover" tabindex="-1">
    Đặt lại mật khẩu
  </h1>
  <div>
    <p>
      Chúng tôi sẽ gửi email cho bạn để đặt lại mật khẩu
    </p>
    <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password">
      <input type="hidden" name="utf8" value="✓">
      <label class="require ">
        Email
      </label>
      <div style=" border: 0px solid black;" class="field">

        <input style="width: 600px; height: 35px; padding-left: 10px;" type="email" value="" name="email" id="RecoverEmail" placeholder="Email">

      </div>
      <button style="height: 40px; background-color: red; color: white;">
        Gửi
      </button>

      <a href="#login">
        Hủy
      </a></form></div>

  <h1 id="login" tabindex="-1">
    Đăng nhập
  </h1>
  <div>
      <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8" data-login-with-shop-sign-in="true" novalidate="novalidate"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
      <label class="require" for="CustomerEmail">
        Email
      </label>    
      <div style="border: 0px solid black;" class="field">

        <input style="width: 600px; height:30px ; padding-left: 10px;" type="email" name="customer[email]" id="CustomerEmail" placeholder="Email">
      </div>
      
      <label class="require" for="CustomerPassword">
          Mật khẩu
        </label>
        <div  style=" border: 0px solid black;" class="field">
          <input style="width: 600px; height:30px ; padding-left: 10px;" type="password" value="" name="customer[password]" id="CustomerPassword" class="pass-word" placeholder="Mật khẩu">
          <div id="show-pass" class="show-pass">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_2051_14262)">
    <path d="M10.7302 5.07319C11.1449 5.02485 11.5685 5 12 5C16.664 5 20.3999 7.90264 22 12C21.6054 13.0104 21.0809 13.9482 20.4447 14.7877M6.51962 6.51944C4.47955 7.76406 2.90111 9.69259 2 12C3.60014 16.0974 7.33603 19 12 19C14.0376 19 15.898 18.446 17.4806 17.4804M9.87877 9.87859C9.33582 10.4215 9 11.1715 9 12C9 13.6569 10.3431 15 12 15C12.8285 15 13.5785 14.6642 14.1214 14.1212" stroke="#2A2A2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M4 4L20 20" stroke="#2A2A2A" stroke-width="2" stroke-linecap="round"></path>
  </g>
  <defs>
    <clipPath id="clip0_2051_14262">
      <rect width="24" height="24" fill="white"></rect>
    </clipPath>
  </defs>
</svg>

            <div class="hidden show-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.9841 5.25C8.33067 5.25 4.58301 7.36453 1.6327 11.5936C1.54849 11.7156 1.50234 11.8599 1.50009 12.0082C1.49783 12.1564 1.53958 12.302 1.62004 12.4266C3.88692 15.975 7.58442 18.75 11.9841 18.75C16.336 18.75 20.1094 15.9666 22.3805 12.4102C22.4591 12.2881 22.5009 12.1459 22.5009 12.0007C22.5009 11.8555 22.4591 11.7134 22.3805 11.5912C20.1043 8.07562 16.3032 5.25 11.9841 5.25Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-miterlimit="10"></path>
</svg>

            </div>
          </div>
        </div>
        <button style="height: 40px; background-color: red; color: white;">
        Đăng nhập
      </button>

      <a class="recover" href="#recover">
        Quên mật khẩu?
      </a>

      <div class="social-login">
        <div class="label">Hoặc đăng nhập qua</div>
        <div class="oxi-social-login"></div>
      </div>

      <div class="create_account-box">
        <span>Chưa có tài khoản?</span>
        <a class="" href="/account/register">
          Đăng ký tài khoản
        </a>
      </div></form></div></div>
</div>
    </main>
  <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
  ></script>

  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
  ></script>
</body>