<body>
  <main class="container mt-5 mb-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header text-center bg-primary text-white">
                      <h1>Đăng ký</h1>
                  </div>
                  <div class="card-body">
                      <form method="post" action="/account/register" accept-charset="UTF-8" novalidate>
                          <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Họ & tên" required>
                          </div>
                          <div class="mb-3">
                              <input type="tel" class="form-control" placeholder="Số điện thoại" required>
                          </div>
                          <div class="mb-3">
                              <select id="gender" class="form-select" required>
                                  <option value="" disabled selected>Giới tính</option>
                                  <option value="Nam">Nam</option>
                                  <option value="Nữ">Nữ</option>
                                  <option value="Khác">Khác</option>
                              </select>
                          </div>
                          <div class="mb-3">
                              <input type="email" class="form-control" placeholder="Email" required>
                          </div>
                          <div class="mb-3">
                              <input type="password" class="form-control" placeholder="Mật khẩu" required>
                          </div>
                          <div class="mb-3">
                              <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" required>
                          </div>
                          <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
                      </form>
                      <div class="mt-3 text-center">
                          <span>Đã có tài khoản?</span> <a href="/account/login" class="link-muted">Đăng nhập</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</body>