<div class="sign">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-6">
                <div class="card form-card px-4">
                    <div class="text-center form-card__header py-4">
                        <h1 class="fw-bold">Đăng ký</h1>
                    </div>
                    <div class="card-body">
                        <!-- tên -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Họ và tên</label>
                            <input type="text" class="form-control form-sign__input" placeholder="Nhập họ và tên"
                                required ng-model="customer.fullName">
                        </div>

                        <!-- email -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Email</label>
                            <input type="email" class="form-control form-sign__input" placeholder="Nhập email" required
                                ng-model="customer.email">
                        </div>

                        <!-- Địa chỉ -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Địa chỉ</label>
                            <input type="text" class="form-control form-sign__input" placeholder="Nhập địa chỉ" required
                                ng-model="customer.address">
                        </div>

                        <!-- Ngày sinh -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Ngày sinh</label>
                            <input type="date" class="form-control form-sign__input" required
                                ng-model="customer.birthday">
                        </div>

                        <!-- sdt -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Số điện thoại</label>
                            <input type="tel" class="form-control form-sign__input" placeholder="Nhập số điện thoại"
                                required ng-model="customer.phoneNumber">
                        </div>

                        <!-- mật khẩu -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Mật khẩu</label>
                            <input type="password" class="form-control form-sign__input" placeholder="Nhập mật khẩu"
                                required ng-model="customer.password">
                        </div>

                        <!-- xác nhận mật khẩu -->
                        <div class="mb-4">
                            <label for="" class="form-sign__label fw-bold fs-6 mb-1">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control form-sign__input"
                                placeholder="Vui lòng nhập lại mật khẩu" required ng-model="customer.confirmPassword">
                        </div>

                        <!-- submit -->
                        <button type="submit" class="btn w-100 btn-primary mt-5 fw-bold fs-5 form-sign__btnSubmit"
                            ng-click="submitSignUp()">Xác
                            nhận</button>
                        <div class="mt-3 text-center">
                            <span>Đã có tài khoản?</span> <a href="#!/login" class="link-muted mb-2 d-block">Đăng
                                nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>