<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mts.toyskingdom.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.mts.toyskingdom.data.entity.OrderE">
        <result column="id_order" property="idOrder"/>
        <result column="id_user" property="idUser"/>
        <result column="order_date" property="orderDate"/>
        <result column="total" property="total"/>
        <result column="status" property="orderStatus"/>
    </resultMap>

    <resultMap id="orderByUser" type="com.mts.toyskingdom.data.model.CartItemM">
        <result column="id_product" property="idProduct"/>
        <result column="order_quantity" property="quantity"/>
        <result column="product_name" property="productName"/>
        <result column="image" property="image"/>
        <result column="price" property="price"/>
    </resultMap>


        <select id="getTotalRevenueBetweenDates" parameterType="map" resultType="java.lang.Double">
            SELECT SUM(total)
            FROM orders
            WHERE status = 'PAID'
              AND order_date BETWEEN #{startDate} AND #{endDate}
        </select>

    <select id="getAll" resultMap="orderMap">
        SELECT *
        FROM orders
    </select>

    <select id="getAllByStatus" resultMap="orderMap">
        SELECT * FROM orders
    </select>


    <select id="getOrderItemByIdOrder" resultMap="orderByUser" parameterType="int">
        SELECT p.id_product, p.product_name, p.image, oi.order_quantity, oi.price
        FROM order_items oi
                 INNER JOIN products p on oi.id_product = p.id_product
        where oi.id_order = #{idOrder}
    </select>


    <select id="findById" resultMap="orderMap" parameterType="int">
        SELECT *
        FROM orders o
        WHERE o.id_order = #{idOrder}
    </select>


    <select id="findPendingByIdUser" resultMap="orderMap" parameterType="int">
        SELECT *
        FROM orders o
        WHERE o.id_user = #{idUser} and o.status = 'PENDING'
    </select>


    <insert id="insert" parameterType="com.mts.toyskingdom.data.dto.OrderDTO">
        INSERT INTO orders (id_user)
        VALUES (
                   #{idUser}
               )
    </insert>

    <update id="update" parameterType="com.mts.toyskingdom.data.dto.OrderDTO">
        UPDATE orders
        <set>
            <if test="idUser != null">id_user = #{idUser},</if>
            <if test="total != null">total = #{total},</if>
            <if test="orderStatus != null">status = #{orderStatus},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
        </set>
        WHERE id_order = #{idOrder}
    </update>

</mapper>
