<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mts.ToysKingdom.mapper.productMapper">

    <resultMap id="productMap" type="com.mts.ToysKingdom.data.entity.productE">
        <id column="id_product" property="id_product"/>
        <result column="product_name" property="product_name"/>
        <result column="des" property="des"/>
        <result column="image" property="image"/>
        <result column="price" property="price"/>
        <result column="unit" property="unit"/>
        <result column="quantity" property="quantity"/>
        <result column="active" property="active"/>
    </resultMap>

    <select id="getProduct" resultMap="productMap" parameterType="String">
        SELECT * FROM products WHERE id_product = #{id_product}
    </select>

    <select id="getAllProducts" resultMap="productMap">
        SELECT * FROM products
    </select>

</mapper>
