<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mts.toyskingdom.mapper.UserMapper">

    <resultMap id="userMap" type="com.mts.toyskingdom.data.entity.UserE">
        <result column="id_user" property="idUser"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="full_name" property="fullName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="address" property="address"/>
        <result column="birthday" property="birthday"/>
        <result column="role" property="role"/>
        <result column="active" property="active"/>
    </resultMap>

    <select id="getAllUser" resultMap="userMap">
        SELECT * FROM users
    </select>

    <select id="getUserByEmail" parameterType="String" resultMap="userMap">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="getUserByIdUser" parameterType="int" resultMap="userMap">
        SELECT * FROM users WHERE id_user =#{idUser}
    </select>

    <insert id="insertUser" parameterType="com.mts.toyskingdom.data.dto.UserDTO">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            email,
            full_name,
            password,
            <if test="phoneNumber != null">phone_number,</if>
            <if test="address != null">address,</if>
            <if test="birthday != null">birthday,</if>
            <if test="role != null">role,</if>
            <if test="active != null">active,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{email},
            #{fullName},
            #{password},
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="address != null">#{address},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="role != null">#{role},</if>
            <if test="active != null">#{active},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.mts.toyskingdom.data.dto.UserDTO">
        UPDATE users
        <set>
            <if test="fullName != null">full_name = #{fullName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="address != null">address = #{address},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="role != null">role = #{role},</if>
            <if test="active != null">active = #{active},</if>
        </set>
        WHERE email = #{email} OR id_user = #{idUser}
    </update>

</mapper>
