<style>
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .rotate-icon {
        animation: rotate 1s infinite linear;
    }
</style>


<!-- Modal -->
<div class="modal  fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form fields to edit user details -->
                <form>
                    <div class="d-flex">
                        <div class="col-4">
                            <div class="form-group me-2">
                                <label for="editID">ID</label>
                                <input type="number" class="form-control" id="editID" ng-model="productE.idProduct"
                                    disabled>
                            </div>

                            <div class="form-group me-2">
                                <label for="editCatory">Catory</label>
                                <input type="text" class="form-control" id="editCatory" ng-model="productE.idCategory">
                            </div>

                            <div class="form-group me-2">
                                <label>Name </label>
                                <input ng-model="productE.productName" type="text" class="form-control">
                            </div>
                            <div class="form-group me-2">
                                <label>Describle </label>
                                <textarea ng-model="productE.des" type="text" class="form-control">
                                </textarea>
                            </div>

                        </div>

                        <div class="col-4">
                            <div class="form-group me-2">
                                <label>Image</label>
                                <input type="file" class="form-control" id="imageFile">
                            </div>

                            <div class="form-group me-2">
                                <label>Price</label>
                                <input type="number" class="form-control" ng-model="productE.price">
                            </div>
                            <div class="form-group me-2">
                                <label>Unit</label>
                                <input type="text" class="form-control" ng-model="productE.unit">
                            </div>
                            <div class="form-group me-2">
                                <label>Quantity</label>
                                <input type="text" class="form-control" ng-model="productE.quantity">
                            </div>
                            <!-- Add other input fields here -->
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <div>
                                <div class="card" style="width: 150px; height: 150px">
                                    <img id="preview" style="width: 100%; height: 100%;" src="/assets/image/{{imageFile}}" alt="">
                                </div>
                                <p class="">File: {{imageFile}}</p>
                            </div>

                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
                <button type="button" class="btn btn-danger" ng-click="deleteProduct()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ SẢN PHẨM TRONG HỆ THỐNG</h1>
<p class="mb-4">Danh sách người dùng sản phẩm DB</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Products <span id="rotate-button" ng-click="getAll()"
                class=" btn btn-info btn-circle btn-sm">
                <i class="fas fa-sync"></i>
            </span></h6>

        <button ng-click="openEditModal()" type="button" class="btn btn-primary btn-circle">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>ID</th>
                        <th>Catory</th>
                        <th>Name</th>
                        <th>Describle</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="text-center">
                        <th>#</th>
                        <th>ID</th>
                        <th>Catory</th>
                        <th>Name</th>
                        <th>Describle</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="p in products">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{p.idProduct}}</td>
                        <td class="text-center">{{p.idCategory}}</td>
                        <td class="text-center">{{p.productName}}</td>
                        <td class="text-center">{{p.des}}</td>
                        <td class="text-center">
                            <img style="height: 80px; width: 80px" src="/assets/image/{{p.image}}" alt="">
                            <span>{{p.image}}</span>
                        </td>
                        <td class="text-center">{{p.price}}</td>
                        <td class="text-center">{{p.unit}}</td>
                        <td class="text-center">{{p.quantity}}</td>
                        <td class="text-center">
                            <!-- Nút chỉnh sửa -->
                            <button ng-click="openEditModal(p)" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>