<style>
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .rotate-icon {
        animation: rotate 1s infinite linear;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form fields to edit user details -->
                <form>
                    <div class="form-group w-100">
                        <label for="editUsername">User name</label>
                        <input type="text" class="form-control" id="editUsername" ng-model="editedUser.idUser" disabled>
                    </div>
                    <div class="row">

                        <div class="col-6">

                            <div class="form-group">
                                <label for="editPassword">Password</label>
                                <input type="password" class="form-control" id="editPassword"
                                       ng-model="editedUser.password">
                            </div>

                            <div class="form-group">
                                <label for="editPassword">Email</label>
                                <input type="text" class="form-control" id="editEmail" ng-model="editedUser.email">
                            </div>

                            <div class="form-group">
                                <span class="me-2">Phone number: </span>
                                <input ng-model="editedUser.phoneNumber" type="text" class="form-control"
                                       id="editPhone">
                            </div>

                        </div>

                        <div class="col-6">


                            <div class="form-group">
                                <label for="editPassword">FullName</label>
                                <input type="text" class="form-control" id="editFullName"
                                       ng-model="editedUser.fullName">
                            </div>
                            <div class="form-group">
                                <label for="editPassword">BirthDay</label>
                                <input type="date" class="form-control" id="editBirthDay"
                                       ng-model="editedUser.birthday">
                            </div>

                            <div class="form-group">
                                <label for="roleSelect">Role</label>
                                <select ng-model="editedUser.role" class="form-control" id="roleSelect">
                                    <option value="USER">User</option>
                                    <option value="ADMIN">Admin</option>
                                </select>
                            </div>
                        </div>
                        <!-- Add other input fields here -->
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Quản lý người dùng hệ thống</h1>
<p class="mb-4">Danh sách người dùng DB ToysKingdom</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Users <span id="rotate-button" ng-click="getAll()"
                                                                  class=" btn btn-info btn-circle btn-sm">
                <i class="fas fa-sync"></i>
        </span></h6>

        <button ng-click="openEditModal()" type="button" class="btn btn-primary btn-circle">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Full name</th>
                    <th>Phone number</th>
                    <th>BirthDay</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tfoot>
                <tr class="text-center">
                    <th>#</th>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Full name</th>
                    <th>Phone number</th>
                    <th>BirthDay</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="u in users">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{u.idUser}}</td>
                    <td class="text-center">{{u.email}}</td>
                    <td class="text-center">{{u.password}}</td>
                    <td class="text-center">{{u.fullName}}</td>
                    <td class="text-center">{{u.phoneNumber}}</td>
                    <td class="text-center">{{u.birthday | date:'dd/MM/yyyy'}}</td>
                    <td class="text-center">{{u.role}}</td>
                    <td class="text-center">
                        <!-- Nút chỉnh sửa -->
                        <button ng-click="openEditModal(u)" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Page level plugins -->
<script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/admin/js/demo/datatables-demo.js"></script>

<!-- JS main -->
<script src="/admin/js/app/users/users.module.js"></script>